@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flexCenter {
    @apply flex justify-center items-center;
  }

  .menuDiv {
    @apply py-4 px-8 bg-white/90 backdrop-blur-sm border-[3px] rounded-md shadow-md border-white absolute top-14 -left-5 z-30 text-black cursor-default text-sm flex justify-between items-start font-normal;
  }

  .easyTrans {
    @apply transition-all ease-linear duration-300;
  }

  .mobBackdrop {
    fill: linear-gradient(
      107deg,
      rgba(34, 19, 19, 0.34) 140.35%,
      rgba(42, 44, 37, 0.1) 250.76%
    );
    backdrop-filter: blur(75px);
  }

  .subRoutebg {
    @apply mt-[85px] lg:mt-[142px] bg-softWhite;
  }

  .subRoutebanner {
    @apply h-[40vh] bg-cover bg-center;
  }

  .subRouteblack {
    @apply h-full bg-black/60 backdrop-blur-[2px] flexCenter;
  }

  .subRouteTitle {
    @apply text-white font-bold leading-10 text-4xl lg:text-5xl tracking-wide text-center;
  }

  .glass_bg {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.outline-text {
  color: #0081e9; /* The fill color of the text */
  -webkit-text-stroke: 0.2px #7dc5ff; /* Stroke color and width */
  text-shadow: 0.2px 0.2px 0 #7dc5ff, -0.2px -0.2px 0 #7dc5ff,
    -0.2px 0.2px 0 #7dc5ff, 0.2px -0.2px 0 #7dc5ff;
}
/* NewsCard.module.css */
@keyframes borderAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(152, 186, 211, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.animatedBorder {
  animation: borderAnimation 2s infinite;
}
/* Add this to your global CSS file (e.g., styles/globals.css) */
/* affiliates.css */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.scroll-content {
  display: flex;
  width: calc(200% + var(--gap)); /* This ensures that the duplicated content fits within the container, including the gap */
  animation: scroll 30s linear infinite;
}

.scroll-item {
  margin-right: var(--gap); /* Adjust the gap between images */
}

.scroll-item:last-child {
  margin-right: 0; /* Remove the gap after the last item */
}
